@font-face {
                font-family: 'AbrilFatface';
                src: url('/fonts/AbrilFatface-Regular.ttf') format('truetype');
            }
@font-face {
                font-family: 'Cairo';
                src: url('/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
            }
@font-face {
                font-family: 'DancingScript';
                src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
            }
@font-face {
                font-family: 'GreatVibes';
                src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
            }
@font-face {
                font-family: 'Khand';
                src: url('/fonts/Khand-Regular.ttf') format('truetype');
            }
@font-face {
                font-family: 'PlaywriteBEVLG';
                src: url('/fonts/PlaywriteBEVLG-VariableFont_wght.ttf') format('truetype');
            }
@font-face {
                font-family: 'RobotoMono';
                src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
            }
@font-face {
                font-family: 'brush';
                src: url('/fonts/brush.ttf') format('truetype');
            }
